<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> TP Currency </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <img src="../../assets/logo.png" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Edit Currencies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="fixed">Currency 1</ion-label>
        <ion-select disabled value="USD">
          <ion-select-option value="USD">USD</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Currency 2</ion-label>
        <ion-select #c2 (ionChange)="onChange(c2.value)">
          <ion-select-option *ngFor="let c of allCurrencies" [value]="c"
            >{{ c }} </ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-label *ngIf="msg.length"> {{ msg }} </ion-label>
</ion-content>
